.App {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.App-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.header_link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.top-content {
  display: flex;
  flex-direction: column;
  margin-right: -70px;
  z-index: 999;
}

.name {
  color: #ff0000;
  margin-bottom: 8px;
}

.header-title {
  font-size: 55px;
  color: #fff;
  margin-bottom: 20px;
}

.header-subtitle {
  width: 340px;
  font-size: 18px;
  color: #aaa;
}

.header-button {
  width: 300px;
  height: 45px;
  font-size: 20px;
  color: #fff;
  background-color: #cc0000;
  border: none;
  border-radius: 30px;
  margin-top: 110px;
}

.img_banner {
  width: 385px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: linear-gradient(to bottom, #ff0000, #6d0606);
  border-radius: 10px;
}

.header-img {
  height: 420px;
  /* filter: drop-shadow(30px 10px 20px #ff0000); */
  transform: scaleX(-1);
  /* mask-image: linear-gradient(to bottom, #000 50%, rgba(0, 0, 0, 0.1) 90%); */
}

.about_content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards_column {
  display: flex;
  flex-direction: column;
  margin-right: 14vw;
}

.about_title {
  color: #fff;
  font-size: 45px;
  margin-bottom: 40px;
}

.about_card {
  width: 300px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc0000;
  border-radius: 5px;
  box-shadow: 10px 10px #222;
  margin: 15px;
}

.card_text {
  color: #fff;
  font-weight: 500;
}

.about_img_content {
  width: 22vw;
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(to bottom, #ff0000, #6d0606);
  border-radius: 10px;
}

.about_image {
  height: 400px;
  margin-left: -80px;
}

.cards_content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards_content_title {
  font-size: 45px;
  color: #fff;
  margin-bottom: 60px;
}

.card {
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
  background-color: #222;
  border-radius: 10px;
  margin: 0 20px;
}

.card_block {
  width: 100px;
  height: 26px;
  align-self: center;
  background-color: #cc0000;
  position: absolute;
  margin-top: -13px;
}

.center_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.card_title {
  font-size: 19px;
  color: #f0f0f0;
  margin-bottom: 25px;
}

.card_description {
  color: #aaa;
  text-align: center;
}

.access_button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(to bottom, #ff0000, #8a0101);
  border: none;
  border-radius: 30px;
}

.infos_content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info_title {
  font-size: 45px;
  color: #fff;
  margin: 0 0 100px 60px;
}

.info_center_content {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  background-color: #cc0000;
}

.thumbnail {
  height: 300px;
  border-radius: 10px;
  margin: 0 20vh 0 30vh;
}

.description {
  color: #fff;
}

.depoiments_content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.depoiments_title_content {
  height: 65vh;
  width: 24vw;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #ff0000, #6d0606);
  border-radius: 10px;
}

.depoiments_title {
  font-size: 50px;
  color: #fff;
  margin-left: 90px;
}

.depoiments_column {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.depoiments_cards {
  width: 500px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 0 20px;
  border-radius: 10px;
  margin: 10px;
}

.name_content {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  background-color: #cc0000;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 105px;
  margin-left: 290px;
}

.contact_content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.contact_text_content {
  display: flex;
  flex-direction: column;
}

.contact_title {
  font-size: 50px;
  color: #fff;
  margin-bottom: 5px;
}

.contact_subtitle {
  font-size: 20px;
  color: #aaa;
}

.contact_button {
  width: 320px;
  height: 45px;
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: #cc0000;
  border-radius: 10px;
  margin-top: 20vh;
}

.contact_img_content {
  width: 24vw;
  height: 83vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #ff0000, #6d0606);
  border-radius: 10px;
  margin-left: 13vw;
}

.footer_content {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #222;
}

.footer_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_footer_content {
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.title_footer {
  color: #ff0000;
  margin-bottom: 15px;
}

.desc_footer {
  color: #aaa;
}

.text_footer_button {
  width: 300px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #cc0000;
  border: none;
  border-radius: 30px;
  margin-top: 25px;
}

.contact_footer_content {
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.contact_item {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
}

.item_button {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc0000;
  border-radius: 10px;
  margin-bottom: 7px;
}

.icon_name {
  color: #aaa;
  font-weight: 500;
}

.email_footer_content {
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.footer_input {
  width: 320px;
  height: 45px;
  font-size: 14px;
  color: #222;
  border: none;
  border-radius: 30px;
  padding: 0 16px;
  margin: 20px 0 10px 0;
}

.footer_button {
  width: 320px;
  height: 40px;
  background-color: #cc0000;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 30px;
}

.bottom_footer {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #aaa;
}

.bottom_text {
  color: #ddd;
}